In [6]:
name = input("enter your name: ")
city = input("enter the city: ")

In [7]:
age = input("enter the age: ")

In [8]:
a = '900'
int(a)

900

In [9]:
p = int(input("enter the principal : "))
rate = int(input("enter the rate: "))
time = int(input("enter the time: "))
s_interest = (p*rate*time)/100
print(s_interest)

25600.0

In [11]:
x = int(input("Enter a number 1: "))
y = int(input("Eneter the number 2 : "))
add = x + y
print(add)

101

In [12]:
print("our numbers",x,y)

our numbers 34 67

In [13]:
print(x,y,name,age,city,sep="\n")

34
67
duke
89
mumbai

In [15]:
print(x,y,name,age,city)

34 67 duke 89 mumbai

In [17]:
print('hi', end=' ')
print('there')

hi there

formattable string

In [18]:
print(f'adding {x} with {y} will give {x+y}')

adding 34 with 67 will give 101

f string floating value

In [20]:
a =10
b=3
print(f'{a}/{b} = {a/b:.2f}')

10/3 = 3.33

f string alignment

In [23]:
print(f'name = {name}')
print(f'age = {age}')
print(f'city = {city}')

name = duke
age = 89
city = mumbai

In [25]:
print(f'name  {name}')
print(f'age   {age}')
print(f'city  {city}')

name  duke
age   89
city  mumbai

In [27]:
print(f'{"name":10}{name}')
print(f'{"age":10}{age}')
print(f'{"city":10}{city}')

name      duke
age       89
city      mumbai

In [29]:
print(f'{"name":10}{name:>35}')
print(f'{"age":10}{age:>35}')
print(f'{"city":10}{city:>35}')

name                                     duke
age                                        89
city                                   mumbai

In [31]:
print(f'{"name":10}{name:^35}')
print(f'{"age":10}{age:^35}')
print(f'{"city":10}{city:^35}')

name                     duke
age                       89
city                    mumbai

write a program for pythgoras theorem

In [35]:
pe = int(input("Enter the perpendicular: "))
ba = int(input("enter the base: "))
hy = (pe**2 + ba**2)**0.5
print(f'hypotenuse is {hy:.1f}')

hypotenuse is 5.0